{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6e4b9ccd891eee8f468f7f9a78f8476",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/accounts/16582"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 923,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"csp_metadata\":null,\"restrict_to_ips\":null,\"metadata\":null,\"just_in_time_domains\":null,\"id\":16582,\"stripe_id\":null,\"trial_end\":\"2022-11-23T09:16:34.000Z\",\"created\":\"2022-11-09T09:16:34.000Z\",\"current_plan\":57,\"additional_credits\":0,\"num_allowed_keys\":1,\"custom_cost\":null,\"suppressions_admin_only\":false,\"global_suppressions_admin_only\":false,\"source\":\"cloudsploit\",\"enforce_oauth\":false,\"login_timeout\":null,\"just_in_time_domain\":null,\"just_in_time_domain_secondary\":null,\"users_admin_only\":false,\"integrations_admin_only\":false,\"disable_default_emails\":false,\"block_default_group\":false,\"presuppress_plugins\":false,\"associate_tags\":false,\"aws_marketplace_id\":\"\",\"byok_bucket\":null,\"csp_enabled\":true,\"log_rocket_enabled\":true,\"scan_scoring\":\"basic\",\"renewal_date\":null,\"mttr_enabled\":false,\"visual_enabled\":false,\"tail_enabled\":false,\"root_user\":\"teemu.hirvonen@contractor.jupiterone.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "2fad40f7-f216-40a8-8f45-4aa1a605d091"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "bzz-LEmyIAMFi_A="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 260,
      },
      {
        "_id": "46d8fe669df2349ecedbc664ab49432e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value"[...]
