{
  "log": {
    "_recordingName": "fetch-detections",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e6e4b9ccd891eee8f468f7f9a78f8476",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-signature",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-timestamp",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/accounts/16582"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 923,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"csp_metadata\":null,\"restrict_to_ips\":null,\"metadata\":null,\"just_in_time_domains\":null,\"id\":16582,\"stripe_id\":null,\"trial_end\":\"2022-11-23T09:16:34.000Z\",\"created\":\"2022-11-09T09:16:34.000Z\",\"current_plan\":57,\"additional_credits\":0,\"num_allowed_keys\":1,\"custom_cost\":null,\"suppressions_admin_only\":false,\"global_suppressions_admin_only\":false,\"source\":\"cloudsploit\",\"enforce_oauth\":false,\"login_timeout\":null,\"just_in_time_domain\":null,\"just_in_time_domain_secondary\":null,\"users_admin_only\":false,\"integrations_admin_only\":false,\"disable_default_emails\":false,\"block_default_group\":false,\"presuppress_plugins\":false,\"associate_tags\":false,\"aws_marketplace_id\":\"\",\"byok_bucket\":null,\"csp_enabled\":true,\"log_rocket_enabled\":true,\"scan_scoring\":\"basic\",\"renewal_date\":null,\"mttr_enabled\":false,\"visual_enabled\":false,\"tail_enabled\":false,\"root_user\":\"teemu.hirvonen@contractor.jupiterone.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "c0d0c422-c70a-40d6-b898-408d72496001"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "bz0usHSGoAMF9QA="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 441,
      },
      {
        "_id": "07fceb1c7ad0635ac2b9676424f9d06e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"teemu.hirvonen@contractor.jupiterone.com\",\"password\":\"6yGQfELFgwZLTdQDehxaZXYdIDocRWNx\"}"
          },
          "queryString": [],
          "url": "https://api.cloudsploit.com/v2/signin"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1087,
            "text": "{\"status\":200,\"code\":0,\"data\":{\"token\":\"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo0MDMxMywiYWNjb3VudF9pZCI6MTY1ODIsImFjY291bnRfYWRtaW4iOnRydWUsInBsYW4iOiJhZHZhbmNlZCIsInVzZXJfZ3JvdXBzX3VzZXIiOltdLCJ1c2VyX2dyb3Vwc19hZG1pbiI6WyIyNTYxMyJdLCJjc3BfZW5hYmxlZCI6dHJ1ZSwiY3NwX21ldGFkYXRhIjp7InVybHMiOnsiZXNlX3VybCI6IjkzNDVmYjUwYmUuY2xvdWQuYXF1YXNlYy5jb20iLCJlc2VfZ3dfdXJsIjoiIn19LCJjc3Bfcm9sZXMiOm51bGwsImNzcG1fdXJsIjoiaHR0cHM6Ly9jbG91ZC5hcXVhc2VjLmNvbSIsImV4cCI6MTY2ODc5OTU5OCwiYXVkaXQiOnRydWUsInN0YiI6eyJ0cmlhbF9yZXBvc2l0b3JpZXMiOjEwMH0sInRyaWFsX2VuZCI6MTY2OTE5NDk5NCwiaWF0IjoxNjY4Nzk1OTk4fQ.KA0coeguj_TsASXYTDBN1nrbfebh5tLkQ1P8awfkUeNrF_9PSMiH30qgpzaPfz5eB8WzYvdC2DYzPlnXV2QBQuUqTxptThv45nkDNT75TB-ygZmEdfWOS9Am71S5lkCXfCML60_RhruY59b8kUtz73q5trOKDlVEFlWQnn7MY4loBhfwURrPrtmhDuwtEaSljAsDFjiGIFNUpzNGyJqXAbvaJ5vtxcW03hrI99cChnhRclTL4SvDKFDapL0JKI-HyZwGbpqCQMzLfbrTo23bLA7uTG_wdnkwgMzaXKdXoAvfqBx90_5ABEJ4hnQ8eHBroEuYnFYOwi8Pve35RGyt_A\",\"account_id\":16582,\"user_id\":40313,\"account_admin\":true,\"trial_end\":\"2022-11-23T09:16:34.000Z\",\"email\":\"teemu.hirvonen@contractor.jupiterone.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "1bd76c5a-993d-4edb-a697-9598b49a2b62"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "bz0uwFMIIAMF_Gw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 683,
      },
      {
        "_id": "33da60d52b950fa19c2ab3ff466a7a32",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.aquasec.com/v2/build/repositories"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1639,
            "text": "{\"current_page\":1,\"data\":[{\"last_scan\":{\"branch\":\"refs/heads/main\",\"build_system\":\"github\",\"commit_id\":\"e4f40c369f55ee331091f42c35adcfdc17514e5a\",\"critical_severity_count\":1,\"git_user\":\"neurovelho\",\"high_severity_count\":1,\"impacted_file_count\":2,\"low_severity_count\":0,\"medium_severity_count\":0,\"misconfigurations_severity_count\":{\"critical_severity_count\":0,\"high_severity_count\":0,\"low_severity_count\":0,\"medium_severity_count\":0,\"unknown_severity_count\":0},\"pipeline_misconfigurations_severity_count\":{\"critical_severity_count\":0,\"high_severity_count\":0,\"low_severity_count\":0,\"medium_severity_count\":0,\"unknown_severity_count\":0},\"policy_failure_count\":0,\"policy_pass_count\":0,\"policy_warning_count\":0,\"scan_date\":\"2022-11-09T12:18:02.035706Z\",\"scan_id\":\"c990e881-824a-4c61-bb22-473118de4684\",\"scm_link\":\"github.com/creativice/aquasec-demo-repository/commit/e4f40c369f55ee331091f42c35adcfdc17514e5a\",\"secrets_severity_count\":{\"critical_severity_count\":0,\"high_severity_count\":1,\"low_severity_count\":0,\"medium_severity_count\":0,\"unknown_severity_count\":0},\"tags\":[],\"triggered_by\":\"push\",\"unknown_severity_count\":0,\"vulnerabilities_severity_count\":{\"critical_severity_count\":1,\"high_severity_count\":0,\"low_severity_count\":0,\"medium_severity_count\":0,\"unknown_severity_count\":0}},\"metadata\":{\"source\":\"github\"},\"name\":\"creativice/aquasec-demo-repository\",\"pinned_branches\":{\"branch_names\":null},\"repository_id\":\"cf8ed85a-2700-4811-bdbb-0e27d1b30302\",\"scm_id\":\"github.com/creativice/aquasec-demo-repository\",\"source\":\"github\"}],\"returned_count\":1,\"total_count\":1,\"total_repositories\":1,\"total_severity_critical\":1,\"total_severity_high\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "a70f69fe-abf7-453f-9246-1e1e78936ad3"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "bz0u5E-0IAMFyGQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time":[...]
